{% extends 'status_info/base.html' %}
{% load static %}

{% block title %}| Log In Page{% endblock %}

{% block links_and_scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'status_info/css/login_signup_logout.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
{% endblock %}


{% block content %}
<div class="form_wrapper glass">
    <div class="form_box">
        <h2>Login</h2>
        <form method="POST" class="login_form">
            {% csrf_token %}
            {% if form.errors %}
            <div class="errors">Incorrect input. Check if username and password are correct</div>
            {% endif %}
            <div class="input_box">
                <input type="text" name="username" class="" required>
                <label class="form-label">Username</label>
            </div>
            <div class="input_box">
                <input type="password" name="password" id="password" required>
                <label class="form-label">Password</label>
                <i class="icon bi bi-eye-slash" id="togglePassword"></i>
            </div>
            <button type="submit" class="btn_primary">Log In</button>
            <p class="login-signup">Don't have an account? <a href="{% url 'signup' %}">Signup</a></p>
        </form>
    </div>
</div>

<script>
    togglePassword = document.querySelector('#togglePassword');
    password = document.querySelector('#password');

    togglePassword.addEventListener("click", function(event) {
        event.preventDefault();
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);

        this.classList.toggle("bi-eye");
    });
</script>

{% endblock %}

{% block footer %}| Log In Page {% endblock %}